{%- if "android" in target %}
- "!include public_accelerometer.yaml"
- "!include public_accelerometer_10min.yaml"
- "!include public_accelerometer_1min.yaml"
- "!include public_accelerometer_2min.yaml"
- "!include public_accelerometer_30sec.yaml"
- "!include public_accelerometer_uncalibrated.yaml"
- "!include public_accelerometer_uncalibrated_10min.yaml"
- "!include public_accelerometer_uncalibrated_1min.yaml"
- "!include public_accelerometer_uncalibrated_2min.yaml"
- "!include public_accelerometer_uncalibrated_30sec.yaml"
- "!include public_ambient_temperature.yaml"
- "!include public_ambient_temperature_10min.yaml"
- "!include public_ambient_temperature_1min.yaml"
- "!include public_ambient_temperature_2min.yaml"
- "!include public_ambient_temperature_30sec.yaml"
- "!include public_game_rotation_vector.yaml"
- "!include public_game_rotation_vector_10min.yaml"
- "!include public_game_rotation_vector_1min.yaml"
- "!include public_game_rotation_vector_2min.yaml"
- "!include public_game_rotation_vector_30sec.yaml"
- "!include public_geomagnetic_rotation_vector.yaml"
- "!include public_geomagnetic_rotation_vector_10min.yaml"
- "!include public_geomagnetic_rotation_vector_1min.yaml"
- "!include public_geomagnetic_rotation_vector_2min.yaml"
- "!include public_geomagnetic_rotation_vector_30sec.yaml"
- "!include public_gravity.yaml"
- "!include public_gravity_10min.yaml"
- "!include public_gravity_1min.yaml"
- "!include public_gravity_2min.yaml"
- "!include public_gravity_30sec.yaml"
- "!include public_gyroscope.yaml"
- "!include public_gyroscope_10min.yaml"
- "!include public_gyroscope_1min.yaml"
- "!include public_gyroscope_2min.yaml"
- "!include public_gyroscope_30sec.yaml"
- "!include public_gyroscope_uncalibrated.yaml"
- "!include public_gyroscope_uncalibrated_10min.yaml"
- "!include public_gyroscope_uncalibrated_1min.yaml"
- "!include public_gyroscope_uncalibrated_2min.yaml"
- "!include public_gyroscope_uncalibrated_30sec.yaml"
- "!include public_light.yaml"
- "!include public_light_10min.yaml"
- "!include public_light_1min.yaml"
- "!include public_light_2min.yaml"
- "!include public_light_30sec.yaml"
- "!include public_linear_acceleration.yaml"
- "!include public_linear_acceleration_10min.yaml"
- "!include public_linear_acceleration_1min.yaml"
- "!include public_linear_acceleration_2min.yaml"
- "!include public_linear_acceleration_30sec.yaml"
- "!include public_location.yaml"
- "!include public_location_10min.yaml"
- "!include public_location_1min.yaml"
- "!include public_location_2min.yaml"
- "!include public_location_30sec.yaml"
- "!include public_lte.yaml"
- "!include public_lte_10min.yaml"
- "!include public_lte_1min.yaml"
- "!include public_lte_2min.yaml"
- "!include public_lte_30sec.yaml"
- "!include public_magnetic_field.yaml"
- "!include public_magnetic_field_10min.yaml"
- "!include public_magnetic_field_1min.yaml"
- "!include public_magnetic_field_2min.yaml"
- "!include public_magnetic_field_30sec.yaml"
- "!include public_magnetic_field_uncalibrated.yaml"
- "!include public_magnetic_field_uncalibrated_10min.yaml"
- "!include public_magnetic_field_uncalibrated_1min.yaml"
- "!include public_magnetic_field_uncalibrated_2min.yaml"
- "!include public_magnetic_field_uncalibrated_30sec.yaml"
- "!include public_orientation.yaml"
- "!include public_orientation_10min.yaml"
- "!include public_orientation_1min.yaml"
- "!include public_orientation_2min.yaml"
- "!include public_orientation_30sec.yaml"
- "!include public_pressure.yaml"
- "!include public_pressure_10min.yaml"
- "!include public_pressure_1min.yaml"
- "!include public_pressure_2min.yaml"
- "!include public_pressure_30sec.yaml"
- "!include public_proximity.yaml"
- "!include public_proximity_10min.yaml"
- "!include public_proximity_1min.yaml"
- "!include public_proximity_2min.yaml"
- "!include public_proximity_30sec.yaml"
- "!include public_relative_humidity.yaml"
- "!include public_relative_humidity_10min.yaml"
- "!include public_relative_humidity_1min.yaml"
- "!include public_relative_humidity_2min.yaml"
- "!include public_relative_humidity_30sec.yaml"
- "!include public_rotation_vector.yaml"
- "!include public_rotation_vector_10min.yaml"
- "!include public_rotation_vector_1min.yaml"
- "!include public_rotation_vector_2min.yaml"
- "!include public_rotation_vector_30sec.yaml"
- "!include public_sensor_types.yaml"
- "!include public_step_counter.yaml"
- "!include public_step_counter_10min.yaml"
- "!include public_step_counter_1min.yaml"
- "!include public_step_counter_2min.yaml"
- "!include public_step_counter_30sec.yaml"
{%- endif %}
{%- if "perftool" in target %}
- "!include public_perftool.yaml"
- "!include public_perftool_10min.yaml"
- "!include public_perftool_1min.yaml"
- "!include public_perftool_2min.yaml"
- "!include public_perftool_30sec.yaml"
{%- endif %}
{%- if "picamera" in target %}
- "!include public_picamera.yaml"
{%- endif %}
- "!include public_viewer_config.yaml"
