avro-python3==1.10.2
certifi==2023.7.22
charset-normalizer==3.3.0
idna==3.4
json-rpc==1.15.0
kafka-python==2.0.2
paho-mqtt==1.6.1
promise==2.3
pycryptodomex==3.19.0
PySocks==1.7.1
PyYAML==6.0.1
requests==2.31.0
schedule==1.2.1
sinetstream==1.8.1
sinetstream-kafka==1.8.1
sinetstream-mqtt==1.8.1
six==1.16.0
urllib3==2.0.6
zstandard==0.21.0
