avro-python3==1.10.2
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
json-rpc==1.15.0
kafka-python-ng==2.2.3
paho-mqtt==1.6.1
promise==2.3
pycryptodomex==3.21.0
PySocks==1.7.1
PyYAML==6.0.2
requests==2.32.3
schedule==1.2.2
sinetstream==1.9.1
sinetstream-kafka==1.9.1
sinetstream-mqtt==1.9.1
six==1.16.0
urllib3==2.2.3
zstandard==0.23.0
