MINIO_ROOT_USER={{ minio.root.user }}
MINIO_ROOT_PASSWORD={{ minio.root.password }}

MINIO_VOLUMES="/data"

MINIO_NOTIFY_POSTGRES_ENABLE="on"
MINIO_NOTIFY_POSTGRES_CONNECTION_STRING="{{ postgres.url }}"
MINIO_NOTIFY_POSTGRES_FORMAT=namespace
MINIO_NOTIFY_POSTGRES_TABLE=minio_event