NAME=perftool-sinetstream-target
SCHEDULE=60
PERFTOOL_OUTPUT_COUNT=1
PERFTOOL_NUM_SAMPLES=300
PERFTOOL_PAYLOAD_SIZE=1024

PERF_TGT_BROKERS=mqtt.example.org
PERF_TGT_TOPIC=perftool-sinetstream-target
PERF_TGT_TYPE=mqtt
PERF_TGT_CONSISTENCY=AT_LEAST_ONCE

PERF_RST_BROKERS=kafka.example.org
PERF_RST_TOPIC=perftool-sinetstream-result
PERF_RST_TYPE=kafka
PERF_RST_CONSISTENCY=AT_LEAST_ONCE
